<!doctype html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
     <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body>
<a href="{% url 'my_index' %}">Home</a>
<a href="{% url 'my-about' %}">About</a>
<a href="{% url 'my-contact' %}">Reach out to us</a>
<a href="{% url 'my_gallery' %}">Gallery</a>
<a href="{% url 'my-services' %}">Our Services</a>
<h3>Feel free to reach out to us via the following:</h3>
<ol>
    <li>Cell:0791930</li>
    <li>Email:williamsian845@gmail.com</li>
    <li>Instagram:he._heeee</li>

</ol>
</body>
</html>